<h1>Shorten That Url For Fun Sake</h1>
<%= form_for(Link.new) do |f| %>
	<%= 	f.url_field :given_url, placeholder: "Paste a url in to shorten", required: true %>
	<%= 	f.submit "Shorten the url" %>
<% end %>
