<h1>Shorten That Url For Fun Sake</h1>
<div class="col-md-12 new-url-form">
<%= form_for(Link.new) do |f| %>
	<%= 	f.url_field :given_url, placeholder: "Paste a url in to shorten", required: true , class: "search-form"%>
	<%= 	f.submit "Word to your Mother", class: "btn btn-default"%>
</div>
<% end %>
