@import "bootstrap-sprockets";
@import "bootstrap";

h1,h2,h3,h4 {
	color: #24C73A;
}

body {
		background-image: url('adventure.jpg');
		background-size: cover;
}

a {
	color: #0180c0;
}

h1 {
	border-bottom: 1px solid #24C73A;
	padding: 10px;
}

